<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>signupwithfb</key>
	<string>http://play-date.ae/app/signupwithfb.php</string>
	<key>signupstep5</key>
	<string>http://play-date.ae/app/signupstep5.php</string>
	<key>lookingprofiles</key>
	<string>http://play-date.ae/app/lookingprofiles.php</string>
	<key>urlname</key>
	<string>http://play-date.ae/app/profileimages/</string>
	<key>deleteaccount</key>
	<string>http://play-date.ae/app/deleteaccount.php</string>
	<key>updateprofile</key>
	<string>http://play-date.ae/app/updateprofile.php</string>
	<key>savepicture</key>
	<string>http://play-date.ae/app/savepicture.php</string>
	<key>swipe</key>
	<string>http://play-date.ae/app/swipe.php</string>
	<key>flagprofile</key>
	<string>http://play-date.ae/app/flagprofile.php</string>
	<key>friends</key>
	<string>http://play-date.ae/app/friendsv2.php</string>
	<key>chat</key>
	<string>http://play-date.ae/app/chat.php</string>
	<key>addchat</key>
	<string>http://play-date.ae/app/addchat.php</string>
	<key>saveemoji</key>
	<string>http://play-date.ae/app/saveemoji.php</string>
	<key>friendstickerv2</key>
	<string>http://play-date.ae/app/friendstickerv2.php</string>
	<key>restoreprofile</key>
	<string>http://play-date.ae/app/restore.php</string>
	<key>acceptdecline</key>
	<string>http://play-date.ae/app/acceptdecline.php</string>
	<key>unfriend</key>
	<string>http://play-date.ae/app/unfriend.php</string>
	<key>invite_addfriend</key>
	<string>http://play-date.ae/app/invite_addfriend.php</string>
	<key>invite_contacts</key>
	<string>http://play-date.ae/app/invite_contacts.php</string>
	<key>show_contacts</key>
	<string>http://play-date.ae/app/show_contacts.php</string>
	<key>invite_fb</key>
	<string>http://play-date.ae/app/invite_fb.php</string>
	<key>createevent_addfriends</key>
	<string>http://play-date.ae/app/createevent_addfriends.php</string>
	<key>createevent</key>
	<string>http://play-date.ae/app/createevent.php</string>
	<key>events</key>
	<string>http://play-date.ae/app/events.php</string>
	<key>eventchat</key>
	<string>http://play-date.ae/app/eventchat.php</string>
	<key>addeventchat</key>
	<string>http://play-date.ae/app/addeventchat.php</string>
	<key>New item</key>
	<string></string>
	<key>eventattending</key>
	<string>http://play-date.ae/app/eventattending.php</string>
	<key>eventdetails</key>
	<string>http://play-date.ae/app/eventdetails.php</string>
	<key>deleteevent</key>
	<string>http://play-date.ae/app/deleteevent.php</string>
	<key>editevent</key>
	<string>http://play-date.ae/app/editevent.php</string>
	<key>eventdetails_invitefriends</key>
	<string>http://play-date.ae/app/eventdetails_invitefriends.php</string>
	<key>eventdetails_addfriends</key>
	<string>http://play-date.ae/app/eventdetails_addfriends.php</string>
	<key>removeevent</key>
	<string>http://play-date.ae/app/removeevent.php</string>
	<key>joinevent</key>
	<string>http://play-date.ae/app/joinevent.php</string>
	<key>verifymobile</key>
	<string>http://play-date.ae/app/verifymobile.php</string>
	<key>sendinvites</key>
	<string>http://play-date.ae/app/sendinvites.php</string>
</dict>
</plist>
